# Keep the GitHub Pages repo focused on the website and the assets it uses.
# The full photo archive under pictures/ is much larger than the current site.

pictures/**
!pictures/
!pictures/100_3296.JPG

!pictures/bryan/
!pictures/bryan/100_1112.JPG
!pictures/bryan/100_1119.JPG
!pictures/bryan/100_1126.JPG
!pictures/bryan/100_1127.JPG
!pictures/bryan/100_1128.JPG
!pictures/bryan/100_1367.JPG

!pictures/meg/
!pictures/meg/0205121859.jpg
!pictures/meg/0217121538.jpg
!pictures/meg/0404121953.jpg
!pictures/meg/0520111756.jpg
!pictures/meg/0601111914.jpg
!pictures/meg/0614121920.jpg

!pictures/curt/
!pictures/curt/0221121748.jpg
!pictures/curt/0801111645a.jpg
!pictures/curt/100_0564.JPG
!pictures/curt/100_0576.JPG
!pictures/curt/100_0608.JPG
!pictures/curt/100_0632.JPG

!pictures/nick/
!pictures/nick/0205121859.jpg
!pictures/nick/0216131255.jpg
!pictures/nick/0520121804.jpg
!pictures/nick/0622112258a.jpg
!pictures/nick/0702121938.jpg
!pictures/nick/0706111329.jpg

!pictures/cam/
!pictures/cam/0216131255.jpg
!pictures/cam/0302130923a.jpg
!pictures/cam/0519110730.jpg
!pictures/cam/0520121805b.jpg
!pictures/cam/0603111629.jpg
!pictures/cam/0608111732.jpg
